:root {
	--primary-color: #c7a17a;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

a {
	text-decoration: none;
}
.menu-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.menu-wrapper .main-menu {
	width: calc(100% - 200px);
}
li.logo-middle a {
	padding: 0 0px !important;
}

li.logo-middle {
	margin: 0 153px !important;
	margin-left: 130px !important;
}

li.logo-middle .logo {
	padding: 0;
	margin-right: 0;
}

.main-menu nav > ul {
	align-items: center;
}

.logo-middle a::after {
	display: none;
}
.hamburger-trigger.mm-only {
	display: none;
}

.wrapper.mm-only {
	display: none;
	width: 0;
}

.menu-wrapper .main-menu.header-right-off {
	width: 100%;
	text-align: left;
}
.no-menu {
	justify-content: center;
	display: flex;
}
.no-menu .navbar-brand {
	justify-content: center;
}
.no-menu .container-fluid.custom-width.custom-width__2 {
	display: none;
}
.footer__menu ul li a {
	padding: 0px;
}
.gallery_post_active .owl-nav div {
	font-size: 14px;
	line-height: 50px;
	position: absolute;
	top: 50%;
	left: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #1e1d23;
	background-color: #fff;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
.gallery_post_active .owl-nav .owl-next {
	right: 10px;
	left: auto;
}
.blog__post .thumb .video-btn {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.blog__post .thumb {
	position: relative;
}
.postbox__audio iframe {
	width: 100%;
}
.blog__wrapper--single {
	border: 1px solid #e2dfdd;
	padding: 30px 35px;
	padding-bottom: 40px;
	border-radius: 10px;
	background-color: #ffffff;
}
.blog__wrapper--single .blog__post {
	border: none;
	padding: 0px;
	border-radius: 0px;
	background: transparent;
}
button.reply {
	background: transparent;
}
.latest__comments .comments-text p:last-child {
	margin-bottom: 0;
}
.blog__wrapper--single a {
	color: #000;
	text-decoration: none;
}
p.logged-in-as {
	margin-bottom: 20px;
}
.blog__wrapper.blog__wrapper--single {
	margin-right: 5px;
}
.blog__sidebar .widget_categories ul li a {
	line-height: 29px;
}
.go-top {
	background: transparent;
}
.pp__action--2 div a {
	width: 35px !important;
	height: 35px !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	padding: 0px !important;
	background: #fff !important;
}
.wishlist,
.wishlist div {
	border: none !important;
}
.wishlist div {
	margin-top: 0px;
}
.wishlist i {
	margin: 0px !important;
}
.yith-wcwl-add-button.wishlist {
	margin-right: 0px !important;
}
.pp__action--2 .wishlist a {
	border: 1px solid #e2dfdd;
	border-radius: 5px;
}
.pp__action .yith-wcwl-add-to-wishlist {
	margin-right: 8px !important;
}
.pp__item .pp__action .cart {
	margin-right: 8px !important;
	margin-left: 0px;
}
.shop-filter-wrapper .sf-right select {
	background-position: calc(100% - 10px) 9px !important;
	background-size: 16px !important;
}
.sort-wrapper .woocommerce-ordering {
	margin: 0;
}
.footer_top_padding {
	padding-bottom: 50px;
	margin-top: -30px;
}
.blog__wrapper {
	padding-right: 5px;
}
.home_front_page .cafena-breadcrumb {
	display: none;
}
.blog__wrapper.blog__wrapper--single {
	padding-right: 35px;
}
.blog__wrapper--single .meta {
	margin-bottom: 1rem;
}
.single-post-main-content p:last-child {
	margin-bottom: 0px;
}
.single-post-main-content {
	overflow: hidden;
	margin-bottom: 50px;
}
.content .wp-block-cover p {
	font-size: 2em;
}
.single-post-main-content ol:last-child,
.single-post-main-content ul:last-child {
	margin-bottom: 0px;
}
.single-post-main-content .wp-block-button.alignleft {
	margin-bottom: 0;
}
.blog__wrapper--single h3 {
	margin-top: 0;
	margin-bottom: 0px !important;
}
.single-post-main-content > h6 {
	margin-bottom: 20px;
}
select {
	cursor: pointer;
}
.single-post-main-content .wp-block-tag-cloud {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
}
.single-post-main-content .wp-block-rss {
	list-style: disc;
}
.blog__post .meta {
	margin-bottom: 1rem;
}
.blog__post--single .thumb img {
	width: auto;
}
.blog__post--single:hover > .thumb img {
	transform: scale(1);
}
.latest__comments li,
.latest__comments p {
	color: #6c6c6c;
}
.format_quote blockquote {
	margin-bottom: 0;
}
.format_quote blockquote p {
	font-size: 32px !important;
	line-height: 125%;
	color: #010103 !important;
	margin-bottom: -20px;
	font-family: "Bebas Neue", cursive;
}
.format_quote blockquote cite {
	font-size: 16px;
}
.cafena-breadcrumb-wrapper {
	flex-wrap: wrap;
}
.footer__widget ul li ul {
/* 	border-top: 1px solid #efefef; */
	margin-top: 15px;
}
.body_wrap {
	position: inherit;
}
.about__left--2 .big {
	max-width: 528px;
}
.reservation__form .wpcf7-response-output {
	color: #fff;
}
.blog__item .thumb .img-2 img {
	max-height: 238px;
}
.no-menu .logo {
	margin-right: 0;
}
.no-menu .menu-area {
	width: 100% !important;
}
.cafena-page-content .post-entry dd a,
.cafena-page-content .post-entry p,
.cafena-page-content .post-entry li,
.cafena-page-content .post-entry li a,
.cafena-page-content .post-entry p a,
.single-post-main-content li a,
.single-post-main-content li {
	color: #6c6c6c;
}

.cafena-page-content ol:last-child,
.cafena-page-content ol li:last-child {
	margin-bottom: 0px;
}
.cafena-page-content .comments__form {
	clear: both;
	overflow: hidden;
}
.cafena-page-content .post-entry .page-links {
	padding-top: 30px;
}
.cafena-page-content .latest__comments li {
	margin-bottom: 0px;
}
.side-info-logo img {
	max-width: 85px;
}
.plus-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: var(--primary-color);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
}
.plus-btn:hover {
	color: #fff;
	background-color: var(--primary-color);
}
.popular-menu__item:hover .plus-btn {
	opacity: 1;
	visibility: visible;
}
div#lightcase-content img {
	border-radius: 12px;
}
.site-footer .wpcf7-response-output {
	color: #a7a7a7;
}
.footer__logo--content img {
	max-width: 95px;
}
.thumb .video-btn__2 i {
	color: #fff;
}
.cafena-pagination ul {
	margin-top: 60px;
}
.best-coffe__bg {
	max-height: 655px;
}
.header-unit-default .logo.navbar-brand.d-none.d-xl-flex.d-lg-flex {
	display: none !important;
}
.header-unit-default .logo.d-xl-none.d-lg-none.d-md-flex {
	display: inline-block !important;
}
.header-unit-default .header-right-off {
	width: auto !important;
}
.header-unit-default .wrapper.wrapper__2 {
	display: none !important;
}
.header-unit-default .menu-wrapper {
	justify-content: space-between !important;
}
.no-menu .logo.navbar-brand.d-none.d-xl-flex.d-lg-flex {
	display: flex !important;
}
.page-links.mb-55 {
	margin-bottom: 55px;
}
.main-menu__4 ul li a:focus {
	color: var(--primary-color);
}
.post-comments .title a {
	color: inherit;
}
.testimonial__item .quote {
	font-size: 50px;
}
.nav-link:focus,
.nav-link:hover {
	color: var(--primary-color);
}
.cart-bar__subtotal span strong {
	font-weight: 600;
}
@media (max-width: 1360px) {
	li.logo-middle {
		margin: 0 120px !important;
		margin-left: 107px !important;
	}
}
@media (max-width: 1290px) {
	li.logo-middle {
		margin: 0 30px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.menu-wrapper .main-menu.header-right-off {
		text-align: center;
	}
}
@media (max-width: 1050px) {
	.main-menu__3 ul li:not(:last-child) {
		margin-right: 0;
	}
	.site-header__3 .wrapper {
		width: 150px;
	}
	.main-menu__3 ul li a {
		padding: 35px 15px;
	}
}

@media (max-width: 991px) {
	.menu-wrapper .main-menu.header-right-off {
		width: calc(100% - 200px);
		text-align: left;
	}
	.menu-wrapper.justify-content-center {
		justify-content: space-between !important;
	}
	.hamburger-trigger.mm-only {
		display: inline-block;
	}
	.blog__wrapper.blog__wrapper--single {
		margin-right: 0px;
	}
	.blog__wrapper {
		padding-right: 0px;
	}
	.blog__sidebar {
		margin-top: 60px;
	}
	.header-unit-default .wrapper.wrapper__2 {
		display: inline-block !important;
		width: auto;
	}
}

@media (max-width: 475px) {
	.blog__post--single .latest__comments ul {
		padding-left: 10px;
	}
	.blog__post--single .latest__comments li .comments-avatar {
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.blog__post--single .latest__comments ul.children {
		padding-left: 10px;
	}
	.side-info-wrapper {
		width: 300px;
		right: -330px;
	}
	.side-info__wrapper {
		padding: 25px;
	}
	.side-info {
		padding-left: 25px;
		padding-right: 25px;
	}
}
